Repository rlqor9688/igo_delivery, pull requests merged in 2025-04, with the labels that each got.

#1 [Common] ErrorCode 응답 핸들러 골격 작성
  src/main/java/com/delivery/igo/igo_delivery/common/exception/AuthException.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ErrorCode.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ErrorDto.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/GlobalException.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/GlobalExceptionHandler.java
Labels: Feature

#3 [Auth] 회원가입, 로그인 API 개발 및 bean validation 등 관련된 추가 기능들 개발
  src/main/java/com/delivery/igo/igo_delivery/api/auth/controller/AuthController.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/dto/Dto.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/dto/request/LoginRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/dto/request/SignupRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/dto/response/LoginResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/dto/response/SignupResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/repository/AuthRepository.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/service/AuthService.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/service/AuthServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/entity/UserRole.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/entity/UserStatus.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/entity/Users.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/repository/UserRepository.java
  src/main/java/com/delivery/igo/igo_delivery/common/annotation/Auth.java
  src/main/java/com/delivery/igo/igo_delivery/common/annotation/EmailDuplicate.java
  src/main/java/com/delivery/igo/igo_delivery/common/annotation/NicknameDuplicate.java
  src/main/java/com/delivery/igo/igo_delivery/common/annotation/Password.java
  src/main/java/com/delivery/igo/igo_delivery/common/config/AuthUserArgumentResolver.java
  src/main/java/com/delivery/igo/igo_delivery/common/config/FilterConfig.java
  src/main/java/com/delivery/igo/igo_delivery/common/config/PasswordEncoder.java
  src/main/java/com/delivery/igo/igo_delivery/common/config/WebConfig.java
  src/main/java/com/delivery/igo/igo_delivery/common/dto/AuthUser.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/AuthException.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ErrorCode.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/GlobalException.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/GlobalExceptionHandler.java
  src/main/java/com/delivery/igo/igo_delivery/common/filter/JwtFilter.java
  src/main/java/com/delivery/igo/igo_delivery/common/util/JwtUtil.java
  src/main/java/com/delivery/igo/igo_delivery/common/validation/EmailDuplicatedValidator.java
  src/main/java/com/delivery/igo/igo_delivery/common/validation/NicknameDuplicatedValidator.java
  src/main/java/com/delivery/igo/igo_delivery/common/validation/PasswordValidator.java
  src/main/resources/application.properties
  src/main/resources/messages.properties
Labels: Feature

#5 [Menu] 메뉴 생성 API 개발 및 테스트 코드
  src/main/java/com/delivery/igo/igo_delivery/api/menu/controller/MenuController.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/dto/Dto.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/dto/request/MenuRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/dto/response/MenuResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/entity/Menus.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/repository/MenuRepository.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/service/MenuService.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/api/store/repository/StoreRepository.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ErrorCode.java
  src/main/resources/messages.properties
  src/test/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceImplTest.java
Labels: Feature

#6 [Auth] 로그아웃 API 개발 및 인증관련 테스트 단위 테스트 추가
  src/main/java/com/delivery/igo/igo_delivery/api/auth/controller/AuthController.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/service/AuthService.java
  src/main/java/com/delivery/igo/igo_delivery/api/auth/service/AuthServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/repository/UserRepository.java
  src/main/java/com/delivery/igo/igo_delivery/common/validation/PasswordValidator.java
  src/test/java/com/delivery/igo/igo_delivery/api/auth/service/AuthServiceImplUnitTest.java
  src/test/java/com/delivery/igo/igo_delivery/common/config/PasswordEncoderUnitTest.java
  src/test/java/com/delivery/igo/igo_delivery/common/validation/EmailDuplicatedValidatorUnitTest.java
  src/test/java/com/delivery/igo/igo_delivery/common/validation/NicknameDuplicatedValidatorUnitTest.java
  src/test/java/com/delivery/igo/igo_delivery/common/validation/PasswordValidatorUnitTest.java
Labels: Feature, Test

#11 [Cart]: 장바구니 메뉴 추가 기능 구현
  src/main/java/com/delivery/igo/igo_delivery/api/cart/controller/CartController.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/CartRequest.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/CartResponse.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/entity/CartItems.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/repository/CartItemsRepository.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/service/CartService.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/service/CartServiceImpl.java
  src/main/resources/messages.properties
  src/test/java/com/delivery/igo/igo_delivery/api/cart/service/CartServiceImplTest.java
Labels: Feature, Test

#14 [Order] 주문상태 추가
  src/main/java/com/delivery/igo/igo_delivery/api/order/entity/OrderStatus.java
Labels: Feature

#13 [Users] 내 정보 수정 API 개발 및 단위, 통합 테스트 진행
  build.gradle
  src/main/java/com/delivery/igo/igo_delivery/api/user/controller/UserController.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/dto/request/UpdateUserRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/dto/request/requestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/dto/resonse/UserResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/entity/Users.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/service/UserService.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImpl.java
  src/main/resources/application-test.properties
  src/main/resources/messages.properties
  src/test/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImplIntegrationTest.java
  src/test/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImplUnitTest.java
Labels: Feature, Test

#12 [Review] 리뷰 생성 기능 구현
  src/main/java/com/delivery/igo/igo_delivery/api/order/repository/OrderItemsRepository.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/repository/OrderRepository.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/controller/ReviewController.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/dto/Dto.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/dto/ReviewRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/dto/ReviewResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/entity/ReviewStatus.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/entity/Reviews.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/repository/ReviewRepository.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/service/ReviewService.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/service/ReviewServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ErrorCode.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ReviewException.java
  src/main/resources/messages.properties
  src/test/java/com/delivery/igo/igo_delivery/api/review/service/ReviewServiceImplTest.java
Labels: Feature, Test

#15 [Users] 내 비밀번호 수정 API 개발 및 단위, 통합 테스트 및 도메인 메서드 방어코드 제거
  src/main/java/com/delivery/igo/igo_delivery/api/auth/controller/AuthController.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/controller/UserController.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/dto/request/UpdatePasswordRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/entity/Users.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/service/UserService.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ErrorCode.java
  src/test/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImplIntegrationTest.java
  src/test/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImplUnitTest.java
Labels: Refactor, Feature, Test

#18 [Menu] 메뉴 수정 API 개발 및 테스트 코드
  src/main/java/com/delivery/igo/igo_delivery/api/menu/controller/MenuController.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/dto/request/MenuRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/dto/response/MenuResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/entity/MenuStatus.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/entity/Menus.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/repository/MenuRepository.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/service/MenuService.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ErrorCode.java
  src/main/resources/messages.properties
  src/test/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceCreateTest.java
  src/test/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceUpdateTest.java
Labels: Refactor, Feature, Test

#17 [Users] 회원 탈퇴 API 개발 및 통합 테스트 진행, 불필요한 import 제거
  src/main/java/com/delivery/igo/igo_delivery/api/user/controller/UserController.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/dto/request/DeleteUserRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/entity/Users.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/service/UserService.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImpl.java
  src/test/java/com/delivery/igo/igo_delivery/api/review/service/ReviewServiceImplTest.java
  src/test/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImplIntegrationTest.java
Labels: Refactor, Feature, Test

#19 [Review] feat & fix: 리뷰 생성 기능 검증 로직 수정 & 테스트 케이스 전체 추가
  src/main/java/com/delivery/igo/igo_delivery/api/review/dto/ReviewRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/service/ReviewServiceImpl.java
  src/main/resources/messages.properties
  src/test/java/com/delivery/igo/igo_delivery/api/review/service/ReviewServiceImplTest.java
Labels: Refactor, Feature, Test

#20 [Order] 주문 생성, 주문 상태 변경, 주문 단건 조회 추가
  src/main/java/com/delivery/igo/igo_delivery/api/cart/entity/CartItems.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/controller/OrderController.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/dto/ChangeOrderStatusRequest.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/dto/ChangeOrderStatusResponse.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/dto/CreateOrderRequest.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/dto/OrderItemsResponse.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/dto/OrderResponse.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/entity/OrderItems.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/entity/OrderStatus.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/entity/Orders.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/service/OrderService.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/service/OrderServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ErrorCode.java
  src/main/resources/messages.properties
  src/test/java/com/delivery/igo/igo_delivery/api/order/service/OrderServiceImplTest.java
Labels: Feature, Test

#22 [Users][Auth] 회원탈퇴 API에 장바구니와 장바구니아이템 삭제 로직 추가, Users 의존성 관련 리펙토링
  src/main/java/com/delivery/igo/igo_delivery/api/auth/service/AuthServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/repository/CartItemsRepository.java
  src/main/java/com/delivery/igo/igo_delivery/api/review/service/ReviewServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/entity/Users.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImpl.java
  src/test/java/com/delivery/igo/igo_delivery/api/auth/service/AuthServiceImplUnitTest.java
  src/test/java/com/delivery/igo/igo_delivery/api/user/entity/UsersUnitTest.java
  src/test/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImplIntegrationTest.java
Labels: Refactor

#26 [Order] 주문 목록 조회 추가, 주문 관련 로직 추가, 테스트 코드 리팩토링
  src/main/java/com/delivery/igo/igo_delivery/api/order/controller/OrderController.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/dto/OrderListResponse.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/entity/OrderItems.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/repository/OrderRepository.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/service/OrderService.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/service/OrderServiceImpl.java
  src/test/java/com/delivery/igo/igo_delivery/api/order/service/OrderServiceImplTest.java
Labels: Refactor, Feature, Test

#28 [Menu] 메뉴 단건 조회 API 개발 및 테스트 코드 작성
  src/main/java/com/delivery/igo/igo_delivery/api/menu/controller/MenuController.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/service/MenuService.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceImpl.java
  src/test/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceReadTest.java
Labels: Refactor, Feature, Test

#30 [Cart] 장바구니 전체 조회 API 개발 및 성공 테스트, Dto 구조 및 이름 리펙토링
  src/main/java/com/delivery/igo/igo_delivery/api/cart/controller/CartController.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/CartResponse.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/Dto.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/request/CreateCartRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/response/CartItemResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/response/CreateCartResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/response/FindAllCartsResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/service/CartService.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/service/CartServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/service/OrderService.java
  src/test/java/com/delivery/igo/igo_delivery/api/cart/service/CartServiceImplTest.java
  src/test/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceCreateTest.java
Labels: Refactor, Feature, Test

#32 [Menu] 메뉴 삭제 API 개발 및 테스트 코드 작성
  src/main/java/com/delivery/igo/igo_delivery/api/menu/controller/MenuController.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/service/MenuService.java
  src/main/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceImpl.java
  src/test/java/com/delivery/igo/igo_delivery/api/menu/service/MenuServiceDeleteTest.java
Labels: Feature, Test

#35 [Carts] 장바구니 아이템 수량 증가 및 감소 API 개발 및 성공/실패 통합테스트
  src/main/java/com/delivery/igo/igo_delivery/api/cart/controller/CartController.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/request/UpdateCartItemRequestDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/response/FindAllCartsResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/response/UpdateCartItemResponseDto.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/entity/CartItemQuantityType.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/entity/CartItems.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/service/CartService.java
  src/main/java/com/delivery/igo/igo_delivery/api/cart/service/CartServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/service/OrderServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/api/user/service/UserServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/common/exception/ErrorCode.java
  src/test/java/com/delivery/igo/igo_delivery/api/cart/service/CartServiceImplIntegrationTest.java
Labels: Feature, Test

#37 Feat [Orders] 주문 생성, 주문 상태 변경 응답 시 log 생성
  src/main/java/com/delivery/igo/igo_delivery/api/order/dto/ChangeOrderStatusResponse.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/dto/OrderResponse.java
  src/main/java/com/delivery/igo/igo_delivery/api/order/service/OrderServiceImpl.java
  src/main/java/com/delivery/igo/igo_delivery/common/config/OrderLogAspect.java
Labels: Feature

#39 [Cart] 장바구니 수량 증가/감소 API에 잘못된 Bean Validation 애노테이션 적용된것을 수정
  src/main/java/com/delivery/igo/igo_delivery/api/cart/dto/request/UpdateCartItemRequestDto.java
Labels: Bugfix

#41 Docs[ReadMe]: ReadMe 작성
  README.md
  img.png
Labels: Docs
